@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome</h1>

<p>
    This is ASP.NET Azure Active Directory Single-Sign-One Example.
</p>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <span>あなたは認証済みです。アクセスできます。</span>
    }
    else
    {
        <span>あなたは未認証です。ログイン画面へ遷移します。</span>
    }
    <br>
    <a href="Protected/">認証済みでないとアクセスできないページ</a>
</p>
