@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome</h1>

<p>
    This is ASP.NET Azure Active Directory Single-Sign-One Example.
</p>

<p>
    <a href="Protected/">Protected page</a>
</p>
